html {
    overflow-x: hidden;
}

body {
    background: #333b47;
    margin: 0;
    padding: 0;
}

#header {
    width:100%;
    height:30vh;
    background: #2766cc;
    margin:0;
    padding-top:.5vh;
    padding-bottom:1vh;
}

.headerText {
    text-align:center;
    font-size:250%;
    color:white;
    margin-top:0.5em;
    margin-bottom:0.5em;
    margin-left: auto;
    margin-right: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.headerText {
    text-align:center;
    font-size:250%;
    color:white;
    margin-top:0.5em;
    margin-bottom:0.5em;
    margin-left: auto;
    margin-right: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#midBar {
    display:flex;
    width:100%;
    height:2em;
    background: white;
    margin:0;
    padding: auto;
    justify-content: space-between;
}

#tryAgain {
    font-size:125%;
    align-self:center;
    padding: 0.5em 0;
    color: black;
    visibility: hidden;
}

.button {
    font-size:100%;
    align-self:gray;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    margin: 0 2em;
    padding: 0.45em 0.5em;
}

.difficulty {
    align-self:center;
}

.button:hover {
    color:black;
}

#boxArea {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "box1 box2 box3"
    "box4 box5 box6";
    height:24em;
    width:36em;
    margin:auto;
    margin-top:4vh;
    margin-bottom:1vh;
    row-gap:3%;
    column-gap:2%;
}

#box1 {
    background:green;
    grid-area: box1;
    border-radius:50px;;
}

#box2 {
    background:green;
    grid-area: box2;
    border-radius:50px;;
}

#box3 {
    background:green;
    grid-area: box3;
    border-radius:50px;;
}

#box4 {
    background:green;
    grid-area: box4;
    border-radius:50px;;
}

#box5 {
    background:green;
    grid-area: box5;
    border-radius:50px;;
}

#box6 {
    background:green;
    grid-area: box6;
    border-radius:50px;;
}

@media screen and (max-width: 750px) {
    #boxArea {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "box1 box2 box3"
        "box4 box5 box6";
        margin:auto;
        margin-top:2em;
        margin-bottom:2em;
        width: 27em;
        height: 18em;
        row-gap:3%;
        column-gap:2%;
    }
  }